.div-form-row{
  width: 100%;
}
.button-row button{
  margin: 5px;
 // background-color: blue;
  //text-decoration-color: floralwhite;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

