<form [formGroup]="product" class="normal-form">
    <mat-grid-list cols="2" rowHeight="300px">
      <h3>Add Product </h3>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="productName" matInput placeholder="Product Name">
          <mat-error>This Field is mandatory .</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="productDesc" matInput placeholder="Product Description">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="searchTag" matInput placeholder="Search Tag">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="manufacturerId" matInput placeholder="Manufacturer Id">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="storeId" matInput placeholder="Store Id">
        </mat-form-field>
        <!-- <div>
            <app-catalog-selector [catalogro]="dataFromParent"> </app-catalog-selector>
         </div> -->
        <!-- <div formArrayName="productCatalogDir" *ngFor="let productCatalogDir of product.controls.productCatalogDir.controls; let k = index"> 
          <div [formGroupName]="k">
              PrimaryFlg* :
            <input type="radio" value="yes" name ="yes" formControlName="primaryFlg">Yes
            <input type="radio" value="no" name="no" formControlName="primaryFlg">No  
          </div>
        </div> -->
        <div class="container">
            <div class="row">
                <p>Parent-Catalog:</p>
              
                  <mat-label>Catalog</mat-label>
                <!-- <mat-select [formControl]="catalogs" (change)="onSelectCatalogName($event)"> 
                    <input placeholder="Search" (keyup)="onKey($event.target.value)">
                <ng-container *ngFor="let parentCatalog of names; let j = index">
                    <mat-option [value]="parentCatalog">{{parentCatalog}}</mat-option>
                   
                    </ng-container>
                </mat-select> -->
                <select (change)="onSelectCatalogName($event)">
                    <option *ngFor="let parentCatalog of names; let j = index" [value]="parentCatalog">{{parentCatalog}}</option>
                </select>
               
              
             <div class="button-row"><button mat-raised-button (click)="onCreate()"><mat-icon>add</mat-icon></button></div>
              </div>
            </div>
            
             <div class="container"> 
                <div class="row">
                    <p>Sub-Catalog:</p>
                  <!-- <mat-form-field>
                    <mat-label>child catalog</mat-label>
                    <mat-select [formControl]="catalogs" multiple>
                        <input placeholder="Search" (keyup)="onKey($event.target.value)">
                        <ng-container *ngFor="let catalog of childCatalog; let i = index">
                      <mat-option [value]="catalog">{{catalog}}</mat-option>
                    </ng-container>
                    </mat-select>
                 </mat-form-field>  -->
                 <select (change)="onSelectCatalogName($event)">
                  <option *ngFor="let catalog of childCatalog; let i = index" [value]="catalog">{{catalog}}</option>
              </select>
                  </div>
                </div> 
     
      </div>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="addProduct()" type="submit">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </mat-grid-list>
    </form>